<!-- templates/home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{% static 'main/estilos.css' %}">
</head>
<body>
    <h1>Página Principal</h1>
    <ul>
        <li><a href="{% url 'arbitro' %}">Lista de Árbitros + metodos Create</a></li>
        <h2>Buscar Detalles de Arbitro por ID</h2>
        <form action="{% url 'arbitro_id' %}" method="get" class="espacio">
            <label for="idarbitro">Ingrese el ID de la Árbitro:</label>
            <input type="number" id="idarbitro" name="idarbitro" required>
            <button type="submit">Buscar</button>
        </form>
        <br >



        <li><a href="{% url 'disciplina' %}">Lista de Disciplinas + metodos Create</a></li>
        <h2>Buscar Detalles de Disciplina por ID</h2>
        <form action="{% url 'disciplina_id' %}" method="get" class="espacio">
            <label for="iddisciplina">Ingrese el ID de la Disciplina:</label>
            <input type="number" id="iddisciplina" name="iddisciplina" required>
        <button type="submit">Buscar</button>
    </form>
    </ul>

    

    
</body>
</html>
