<!-- templates/home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{% static 'main/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main/estilos.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="espacio">Excelbenders may REST</h1>
        <br>
        
        <div class="list-group">

            <!-- Cosas de arbitro -->

            <div class="text-center">
                <div class="custom-card" > 
                    <h4 class="text-center" class="mt-4" >Arbitros</h4>
                    <a href="{% url 'arbitro' %}" class="list-group-item list-group-item-action" >Lista de Árbitros + Métodos Create</a>
                </div>
            </div>
            
            <h4 class="mt-4">Buscar Detalles de Árbitro por ID</h4>
            <form action="{% url 'arbitro_id' %}" method="get" class="mb-4">
                <div class="form-group">
                    <label for="idarbitro" class="espacio">Ingrese el ID de la Árbitro:</label>
                    <input type="number" id="idarbitro" name="idarbitro" class="form-control" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>

            <br>
            <br>
            <br>

            <!-- Cosas de disciplina  -->
            <div class="text-center">
                <div class="custom-card" > 
                    <h4 class="text-center" class="mt-4" >Disciplinas</h4>
                    <a href="{% url 'disciplina' %}" class="list-group-item list-group-item-action text-decoration-underline">Lista de Disciplinas + Métodos Create</a>
                </div>
            </div>
            
            
            <h5 class="mt-4">Buscar Detalles de Disciplina por ID</h5>
            <form action="{% url 'disciplina_id' %}" method="get" class="mb-4">
                <div class="form-group" >
                    <label for="iddisciplina" class="espacio">Ingrese el ID de la Disciplina:</label>
                    <input type="number" id="iddisciplina" name="iddisciplina" class="form-control" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" >Buscar</button>
            </form>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
